* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.heading {
    font-size: 50px;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 12px;
        position: relative;
        right: 90px;
        background-color: white;
        text-decoration: underline;
        border: 2px dotted black;
        border-radius: 17px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    margin-right: 10%;
}
@media only screen and (max-width: 600px) {
   .cards{
    grid-gap: 1em;
   }
   .heading{
    font-size: 1.6rem;
   }
}
@media only screen and (min-width: 520px){
    .card{
        height: 50px;
        width: 30px;
    }
    .card img{
        width: 29px;
    }
    .container{
        min-width: 80vw;
        min-height: 80vh;
    }
}
@media only screen and (min-width: 473px){
.container{
    min-width: none;

}
.card{
    height: 30px;
    width: 20px;
}

}

.card {
    height: 110px;
    width: 90px;
    background-color: #ffff00;
    border-radius: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s all ease;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 80%;
    height: 90px;
    opacity: 0;
    transition: 0.3s all ease;
}

.card.clicked {
    background-color: orange;
}

.card.checked {
    background-color: lightgreen;
}

.card.clicked img,
.card.checked img {
    opacity: 1;
}

.card.shake {
    background-color: #f15f5f;
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}